[submodule "external/psitri"]
	path = external/psitri
	url = https://github.com/gofractally/arbtrie.git
[submodule "external/quill"]
	path = external/quill
	url = https://github.com/odygrd/quill.git
[submodule "libraries/psio1/cpp/external/rapidjson"]
	path = libraries/psio1/cpp/external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "libraries/psizam/tests/spec/testsuite"]
	path = libraries/psizam/tests/spec/testsuite
	url = https://github.com/WebAssembly/testsuite.git
[submodule "external/psio"]
	path = external/psio
	url = https://github.com/gofractally/psio.git
